body{
  background: rgb(233, 187, 102);
}
.app{
  text-align: center;
  max-width: 500px;
  margin: 100px auto;
}
.input-group{
  display: flex;
  flex-direction: column;
}
.input-group input{
  padding: 20px;
}
.btn{
  background-color: rgb(58, 202, 58);
  color: wheat;
  width: 80px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 7px;
  margin: auto;
  margin-top: 20px
}
.list-container{
  margin-top: 40px;
}
.listitem{
  display: flex;
  width: 80px;
  align-items: center;
  padding: 0px 20px;
  margin-top: 15px;
  background-color: aqua;
  cursor: pointer;
  height: 80px;
  border-radius: 50%;


}
h3{
  font-size: 30px;
  text-align: center;
}
